* {
  box-sizing: border-box;
  font-size: 62.5%;
  text-decoration: none;
  list-style: none;
  margin: 0;
  /* if i try to move these styles into body - all collapse */
}

:root {
  --main-gray: #303841;
  --secondary-bg-color: rgb(10, 88, 179);
  --main-link-color: white;
  --main-blue: #45567d;
  --main-blue-dark: #344771;
  --main-red: #be3144;
}

body {
  text-align: center;
  padding: 0;
}

/* Navbar */
#navbar {
  background-color: var(--secondary-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar-lists {
  display: flex;
  justify-content: flex-end;
  margin: 1rem auto 1rem auto;
  text-decoration: none;
}

.navbar-links {
  color: var(--main-link-color);
  font-size: 2.3rem;
  font-style: italic;
  padding: 0.5rem 1rem;
  transition: all ease-in-out 0.5s;
  border-radius: 0.5rem;
  text-decoration: none;
}

#navbar a:hover {
  color: black;
  background-color: rgb(218, 219, 113);
}

/* media queries navbar */
/* For screens up to 767px (typically mobile devices) */
@media only screen and (max-width: 767px) {
  .navbar-list {
    font-size: 2.5rem;
    border-radius: 0.5rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
  }
}

/* For screens 768px and above (typically desktops) */
@media only screen and (min-width: 768px) {
  .navbar-lists {
    display: flex;
    justify-content: space-around;
    font-size: 4.5rem;
  }

  .navbar-list {
    border-radius: 0.5rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
  }

  .navbar-links {
    font-size: 2.5rem;
  }
}

/* Welcome-section */
#welcome-section {
  background: linear-gradient(45deg, #e4bd6f, #1f8bd8);
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-section-emodji {
  display: inline-block;
  transition: transform 0.5s ease;
  font-size: 3rem;
}

.welcome-section-emodji:hover {
  animation: waving 3s infinite;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.welcome-image {
  width: 250px;
  border-radius: 5%;
}

.welcome-section-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--main-link-color);
}

.welcome-section-description {
  font-size: 2.1rem;
  margin-top: 1.5rem;
  color: var(--secondary-bg-color);
  font-style: italic;
  font-weight: bold;
  width: 100%;
  max-width: 35rem;
}

/* media queries welcome section */
/* haven't done yet */

/* @media only screen and (min-width: 768px) {
  /* .welcome-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 2rem;
  }

  #welcome-section-title {
    max-width: 50%;
    font-size: 3.5rem;
    margin-top: 1rem;
  }

  .welcome-section-description {
    position: absolute;
    top: 34rem;
    font-size: 2.5rem;
    max-width: 25%;
    text-align: left;
  }

  .welcome-image {
    width: 30rem;
  } */

/* .welcome-section-container {
    display: flex;
    text-align: left; /* Align text to the left   */

/* #welcome-section-title {
    max-width: 50%;
    font-size: 4.5rem;
  }

  .welcome-section-description {
    position: absolute;
    top: 45rem;
    font-size: 3.5rem;
    max-width: 25%;
  }

  .welcome-image {
    width: 40rem;
    margin-left: 15rem;
    margin-top: -5rem;
  }   */

/* projects */
#projects {
  background-color: var(--main-blue);

  padding: 0rem 2rem 5rem 2rem;
}

.grid {
  display: grid;
  grid-gap: 1.5rem;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr;
}

.project-name {
  color: var(--main-link-color);
  text-align: center;
  font-size: 2.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.project-tile {
  cursor: pointer;
  margin-bottom: 5rem;
  transition: all ease-in 0.2s;
}

.project-description {
  color: var(--main-link-color);
  text-align: center;
  background-color: var(--main-gray);
  font-size: 2rem;
  padding: 1rem 0;
  margin: 0;
}

.project-image {
  width: 100%;
  height: 100%;
  display: block;
}

.item {
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease-out, color 0.3s ease-out;
}

.project-description:hover .item {
  opacity: 1;
  color: orange;
}

.project-btn {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 2px;
  font-size: 1.6rem;
  margin-top: 3rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out, transform 0.3s ease-out;
  color: var(--main-link-color);
}

.project-btn:hover {
  background-color: var(--main-red);
  transform: translateY(0.5rem);
}

/* media queries for project section */

@media only screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
  }

  .project-name {
    font-size: 3rem;
  }

  .project-btn {
    font-size: 1.6rem;
  }

  .project-description {
    font-size: 2rem;
  }
}

/* contact */
#contact {
  background-color: var(--main-gray);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.contact-link {
  color: var(--main-link-color);
  font-size: 1.8rem;
  display: inline-flex; /* Aligns the icon and text on the same line */
  align-items: center; /* Vertically center the icon and text */
  transition: transform 0.3s ease;
  font-size: 2.5rem;
}

.contact-image {
  width: 2rem;
  background-image: none; /* removes background color from images */
  filter: invert(100%); /* inverts the colors (black and white) */
  margin-right: 1.5rem;
}

.contact-title {
  color: var(--main-link-color);
  font-size: 4rem;
  padding: 2rem 0;
}

.contact-info {
  color: var(--main-link-color);
  font-size: 3rem;
  padding-bottom: 2rem;
}

.logos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 1rem;
  z-index: 0;
}

.contact-link:hover {
  color: orange; /* Text color on hover */
  transform: translateY(0.5rem); /* Move the link down slightly on hover */
}

/* media queries for contact section */
@media only screen and (min-width: 768px) {
  .contact-title {
    font-size: 5rem;
  }

  .contact-info {
    font-size: 3.5rem;
    margin: 4rem 0;
  }

  .contact-link {
    color: var(--main-link-color);
    font-size: 2.8rem;
    margin: 0 1rem;
  }

  .contact-image {
    width: 2.5rem;
  }

  .logos-container {
    display: flex;
    flex-direction: row;
  }
}

/* footer */
#footer {
  padding: 3rem 0 2rem 0;
  background-color: var(--main-blue-dark);
  color: var(--main-link-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
}

.footer-description,
.footer-created {
  width: 100%;
  text-align: center;
}

.footer-created {
  margin-top: 1rem;
  font-size: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .footer-created,
  .footer-description {
    font-size: 3.5rem;
  }
}
